server {
    server_name {{ api_domain_name }};

    include /etc/nginx/prez.conf;
}

server {
    server_name {{ web_domain_name }};

    {% if nginx_expose_fuseki %}
    include /etc/nginx/fuseki.conf;
    {% endif %}

    include /etc/nginx/prez-ui.conf;
}